.elementor-9707 .elementor-element.elementor-element-f6ec5fc {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 120px 120px;
    --row-gap: 120px;
    --column-gap: 120px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 60px;
    --padding-bottom: 60px;
    --padding-left: 20px;
    --padding-right: 20px;
}

.elementor-9707 .elementor-element.elementor-element-f6ec5fc:not(.elementor-motion-effects-element-type-background),
.elementor-9707 .elementor-element.elementor-element-f6ec5fc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #580C18;
}

.elementor-9707 .elementor-element.elementor-element-de571ef {
    --display: flex;
    --justify-content: space-between;
    --gap: 70px 70px;
    --row-gap: 70px;
    --column-gap: 70px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-9707 .elementor-element.elementor-element-de571ef.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-9707 .elementor-element.elementor-element-9165b9f {
    text-align: left;
}

.elementor-9707 .elementor-element.elementor-element-9165b9f img {
    width: 150px;
}

.elementor-9707 .elementor-element.elementor-element-fa03dea {
    --display: flex;
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-9707 .elementor-element.elementor-element-44404c9 .elementor-heading-title {
    font-family: var( --e-global-typography-1abd6f6-font-family), Sans-serif;
    font-size: var( --e-global-typography-1abd6f6-font-size);
    font-weight: var( --e-global-typography-1abd6f6-font-weight);
    line-height: var( --e-global-typography-1abd6f6-line-height);
    letter-spacing: var( --e-global-typography-1abd6f6-letter-spacing);
    color: #FFFFFF;
}

.elementor-9707 .elementor-element.elementor-element-bf62c77 .elementor-heading-title {
    font-family: "Sentient", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3em;
    color: #E92548;
}

.elementor-9707 .elementor-element.elementor-element-bbf8cdf>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-9707 .elementor-element.elementor-element-bbf8cdf {
    font-size: var( --e-global-typography-28b9758-font-size);
    color: #E7E7E7;
}

.elementor-9707 .elementor-element.elementor-element-bbf8cdf p {
    margin-bottom: 5px;
}

.elementor-9707 .elementor-element.elementor-element-bbf8cdf a {
    color: #FFFFFF;
}

.elementor-9707 .elementor-element.elementor-element-a4c48b4 {
    --display: flex;
    --gap: 5px 5px;
    --row-gap: 5px;
    --column-gap: 5px;
    --border-radius: 15px 15px 15px 15px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 25px;
}

.elementor-9707 .elementor-element.elementor-element-a4c48b4:not(.elementor-motion-effects-element-type-background),
.elementor-9707 .elementor-element.elementor-element-a4c48b4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #721523;
}

.elementor-9707 .elementor-element.elementor-element-5b733a1 .elementor-heading-title {
    font-family: "Sentient", Sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}

.elementor-9707 .elementor-element.elementor-element-ed14de3 {
    font-size: var( --e-global-typography-28b9758-font-size);
    color: #E7E7E7;
}

.elementor-9707 .elementor-element.elementor-element-ed14de3 p {
    margin-bottom: 0px;
}

.elementor-9707 .elementor-element.elementor-element-352e20d {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --padding-top: 25px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-9707 .elementor-element.elementor-element-3d266df {
    --display: flex;
    --gap: 60px 60px;
    --row-gap: 60px;
    --column-gap: 60px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-9707 .elementor-element.elementor-element-f8b3965 {
    --display: grid;
    --e-con-grid-template-columns: 1.4fr 0.9fr 0.9fr 0.8fr;
    --e-con-grid-template-rows: repeat(1, 1fr);
    --grid-auto-flow: row;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-9707 .elementor-element.elementor-element-28f1032 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-9707 .elementor-element.elementor-element-b05d993 .elementor-heading-title {
    font-family: var( --e-global-typography-f29eb5f-font-family), Sans-serif;
    font-size: var( --e-global-typography-f29eb5f-font-size);
    font-weight: var( --e-global-typography-f29eb5f-font-weight);
    line-height: var( --e-global-typography-f29eb5f-line-height);
    letter-spacing: var( --e-global-typography-f29eb5f-letter-spacing);
    color: #FFFFFF;
}

.elementor-9707 .elementor-element.elementor-element-14a9f2c {
    width: var( --container-widget-width, 228px);
    max-width: 228px;
    --container-widget-width: 228px;
    --container-widget-flex-grow: 0;
    font-size: var( --e-global-typography-28b9758-font-size);
    color: #E7E7E7;
}

.elementor-9707 .elementor-element.elementor-element-14a9f2c p {
    margin-bottom: 0px;
}

.elementor-9707 .elementor-element.elementor-element-921f4b3 {
    font-size: var( --e-global-typography-28b9758-font-size);
    color: #FFFFFF;
}

.elementor-9707 .elementor-element.elementor-element-921f4b3 p {
    margin-bottom: 0px;
}

.elementor-9707 .elementor-element.elementor-element-921f4b3 a {
    color: #FFFFFF;
    transition-duration: 0.3s;
}

.elementor-9707 .elementor-element.elementor-element-921f4b3 a:hover,
.elementor-9707 .elementor-element.elementor-element-921f4b3 a:focus {
    color: var( --e-global-color-primary);
}

.elementor-9707 .elementor-element.elementor-element-4a2db52 {
    --display: flex;
    --gap: 25px 25px;
    --row-gap: 25px;
    --column-gap: 25px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-9707 .elementor-element.elementor-element-3fd04df .elementor-heading-title {
    font-family: var( --e-global-typography-f29eb5f-font-family), Sans-serif;
    font-size: var( --e-global-typography-f29eb5f-font-size);
    font-weight: var( --e-global-typography-f29eb5f-font-weight);
    line-height: var( --e-global-typography-f29eb5f-line-height);
    letter-spacing: var( --e-global-typography-f29eb5f-letter-spacing);
    color: #FFFFFF;
}

.elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-9707 .elementor-element.elementor-element-38f4033 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-item>a {
    font-size: var( --e-global-typography-28b9758-font-size);
}

.elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-text {
    color: #E7E7E7;
    transition: color 0.3s;
}

.elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #AAAAAA;
}

.elementor-9707 .elementor-element.elementor-element-4d8074b {
    --display: flex;
    --gap: 25px 25px;
    --row-gap: 25px;
    --column-gap: 25px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-9707 .elementor-element.elementor-element-7700427 .elementor-heading-title {
    font-family: var( --e-global-typography-f29eb5f-font-family), Sans-serif;
    font-size: var( --e-global-typography-f29eb5f-font-size);
    font-weight: var( --e-global-typography-f29eb5f-font-weight);
    line-height: var( --e-global-typography-f29eb5f-line-height);
    letter-spacing: var( --e-global-typography-f29eb5f-letter-spacing);
    color: #FFFFFF;
}

.elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-9707 .elementor-element.elementor-element-626e68b {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-item>a {
    font-size: var( --e-global-typography-28b9758-font-size);
}

.elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-text {
    color: #E7E7E7;
    transition: color 0.3s;
}

.elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #AAAAAA;
}

.elementor-9707 .elementor-element.elementor-element-6a7c903 {
    --display: flex;
    --gap: 25px 25px;
    --row-gap: 25px;
    --column-gap: 25px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-9707 .elementor-element.elementor-element-b30b279 .elementor-heading-title {
    font-family: var( --e-global-typography-f29eb5f-font-family), Sans-serif;
    font-size: var( --e-global-typography-f29eb5f-font-size);
    font-weight: var( --e-global-typography-f29eb5f-font-weight);
    line-height: var( --e-global-typography-f29eb5f-line-height);
    letter-spacing: var( --e-global-typography-f29eb5f-letter-spacing);
    color: #FFFFFF;
}

.elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-9707 .elementor-element.elementor-element-b7ca90f {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-item>a {
    font-size: var( --e-global-typography-28b9758-font-size);
}

.elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-text {
    color: #E7E7E7;
    transition: color 0.3s;
}

.elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #AAAAAA;
}

.elementor-9707 .elementor-element.elementor-element-8f04283 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-9707 .elementor-element.elementor-element-ec59128 {
    --display: flex;
    --min-height: 0.5px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-9707 .elementor-element.elementor-element-72c27d2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --gap: 70px 70px;
    --row-gap: 70px;
    --column-gap: 70px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-9707 .elementor-element.elementor-element-177cac0.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-9707 .elementor-element.elementor-element-177cac0 .elementor-heading-title {
    font-family: var( --e-global-typography-f29eb5f-font-family), Sans-serif;
    font-size: var( --e-global-typography-f29eb5f-font-size);
    font-weight: var( --e-global-typography-f29eb5f-font-weight);
    line-height: var( --e-global-typography-f29eb5f-line-height);
    letter-spacing: var( --e-global-typography-f29eb5f-letter-spacing);
    color: #FFFFFF;
}

.elementor-9707 .elementor-element.elementor-element-28c0fab {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 50px 50px;
    --row-gap: 50px;
    --column-gap: 50px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-9707 .elementor-element.elementor-element-8ad53b6 img {
    width: 60px;
}

.elementor-9707 .elementor-element.elementor-element-d66a847 img {
    width: 60px;
}

.elementor-9707 .elementor-element.elementor-element-5111620 {
    --display: flex;
    --min-height: 1px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-9707 .elementor-element.elementor-element-45558f3 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --gap: 70px 70px;
    --row-gap: 70px;
    --column-gap: 70px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-9707 .elementor-element.elementor-element-9781cdc.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-9707 .elementor-element.elementor-element-9781cdc .elementor-heading-title {
    font-family: var( --e-global-typography-f29eb5f-font-family), Sans-serif;
    font-size: var( --e-global-typography-f29eb5f-font-size);
    font-weight: var( --e-global-typography-f29eb5f-font-weight);
    line-height: var( --e-global-typography-f29eb5f-line-height);
    letter-spacing: var( --e-global-typography-f29eb5f-letter-spacing);
    color: #FFFFFF;
}

.elementor-9707 .elementor-element.elementor-element-4c7d0a3 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-9707 .elementor-element.elementor-element-4c7d0a3 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-9707 .elementor-element.elementor-element-4c7d0a3 {
    --e-icon-list-icon-size: 25px;
    --icon-vertical-offset: 0px;
}

.elementor-9707 .elementor-element.elementor-element-4c7d0a3 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-9707 .elementor-element.elementor-element-50e701a {
    --display: flex;
    --min-height: 1px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-9707 .elementor-element.elementor-element-e0ca327 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --gap: 70px 70px;
    --row-gap: 70px;
    --column-gap: 70px;
    --padding-top: 10px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-9707 .elementor-element.elementor-element-770db00 {
    font-size: var( --e-global-typography-28b9758-font-size);
    color: #E7E7E7;
}

.elementor-9707 .elementor-element.elementor-element-770db00 p {
    margin-bottom: 0px;
}

.elementor-9707 .elementor-element.elementor-element-770db00 a {
    color: #FFFFFF;
    transition-duration: 0.3s;
}

.elementor-9707 .elementor-element.elementor-element-770db00 a:hover,
.elementor-9707 .elementor-element.elementor-element-770db00 a:focus {
    color: #AAAAAA;
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(max-width:1024px) {
    .elementor-9707 .elementor-element.elementor-element-f6ec5fc {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --gap: 60px 60px;
        --row-gap: 60px;
        --column-gap: 60px;
        --padding-top: 50px;
        --padding-bottom: 30px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-9707 .elementor-element.elementor-element-de571ef {
        --flex-direction: row;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap;
        --gap: 50px 50px;
        --row-gap: 50px;
        --column-gap: 50px;
        --flex-wrap: wrap;
    }
    .elementor-9707 .elementor-element.elementor-element-9165b9f {
        width: 100%;
        max-width: 100%;
    }
    .elementor-9707 .elementor-element.elementor-element-9165b9f.elementor-element {
        --flex-grow: 1;
        --flex-shrink: 0;
    }
    .elementor-9707 .elementor-element.elementor-element-fa03dea {
        --justify-content: center;
    }
    .elementor-9707 .elementor-element.elementor-element-44404c9 .elementor-heading-title {
        font-size: var( --e-global-typography-1abd6f6-font-size);
        line-height: var( --e-global-typography-1abd6f6-line-height);
        letter-spacing: var( --e-global-typography-1abd6f6-letter-spacing);
    }
    .elementor-9707 .elementor-element.elementor-element-bbf8cdf {
        font-size: var( --e-global-typography-28b9758-font-size);
    }
    .elementor-9707 .elementor-element.elementor-element-ed14de3 {
        font-size: var( --e-global-typography-28b9758-font-size);
    }
    .elementor-9707 .elementor-element.elementor-element-3d266df {
        --gap: 30px 30px;
        --row-gap: 30px;
        --column-gap: 30px;
    }
    .elementor-9707 .elementor-element.elementor-element-f8b3965 {
        --e-con-grid-template-columns: 1.5fr 0.9fr 0.8fr 0.8fr;
        --grid-auto-flow: row;
    }
    .elementor-9707 .elementor-element.elementor-element-b05d993 .elementor-heading-title {
        font-size: var( --e-global-typography-f29eb5f-font-size);
        line-height: var( --e-global-typography-f29eb5f-line-height);
        letter-spacing: var( --e-global-typography-f29eb5f-letter-spacing);
    }
    .elementor-9707 .elementor-element.elementor-element-14a9f2c {
        font-size: var( --e-global-typography-28b9758-font-size);
    }
    .elementor-9707 .elementor-element.elementor-element-921f4b3 {
        font-size: var( --e-global-typography-28b9758-font-size);
    }
    .elementor-9707 .elementor-element.elementor-element-4a2db52 {
        --gap: 20px 20px;
        --row-gap: 20px;
        --column-gap: 20px;
    }
    .elementor-9707 .elementor-element.elementor-element-3fd04df .elementor-heading-title {
        font-size: var( --e-global-typography-f29eb5f-font-size);
        line-height: var( --e-global-typography-f29eb5f-line-height);
        letter-spacing: var( --e-global-typography-f29eb5f-letter-spacing);
    }
    .elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(10px/2);
    }
    .elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(10px/2);
    }
    .elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(10px/2);
        margin-left: calc(10px/2);
    }
    .elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-10px/2);
        margin-left: calc(-10px/2);
    }
    body.rtl .elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-10px/2);
    }
    body:not(.rtl) .elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-10px/2);
    }
    .elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-28b9758-font-size);
    }
    .elementor-9707 .elementor-element.elementor-element-4d8074b {
        --gap: 20px 20px;
        --row-gap: 20px;
        --column-gap: 20px;
    }
    .elementor-9707 .elementor-element.elementor-element-7700427 .elementor-heading-title {
        font-size: var( --e-global-typography-f29eb5f-font-size);
        line-height: var( --e-global-typography-f29eb5f-line-height);
        letter-spacing: var( --e-global-typography-f29eb5f-letter-spacing);
    }
    .elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(10px/2);
    }
    .elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(10px/2);
    }
    .elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(10px/2);
        margin-left: calc(10px/2);
    }
    .elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-10px/2);
        margin-left: calc(-10px/2);
    }
    body.rtl .elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-10px/2);
    }
    body:not(.rtl) .elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-10px/2);
    }
    .elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-28b9758-font-size);
    }
    .elementor-9707 .elementor-element.elementor-element-6a7c903 {
        --gap: 20px 20px;
        --row-gap: 20px;
        --column-gap: 20px;
    }
    .elementor-9707 .elementor-element.elementor-element-b30b279 .elementor-heading-title {
        font-size: var( --e-global-typography-f29eb5f-font-size);
        line-height: var( --e-global-typography-f29eb5f-line-height);
        letter-spacing: var( --e-global-typography-f29eb5f-letter-spacing);
    }
    .elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(10px/2);
    }
    .elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(10px/2);
    }
    .elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(10px/2);
        margin-left: calc(10px/2);
    }
    .elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-10px/2);
        margin-left: calc(-10px/2);
    }
    body.rtl .elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-10px/2);
    }
    body:not(.rtl) .elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-10px/2);
    }
    .elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-28b9758-font-size);
    }
    .elementor-9707 .elementor-element.elementor-element-8f04283 {
        --min-height: 1px;
        --gap: 15px 15px;
        --row-gap: 15px;
        --column-gap: 15px;
    }
    .elementor-9707 .elementor-element.elementor-element-ec59128 {
        --min-height: 1px;
    }
    .elementor-9707 .elementor-element.elementor-element-177cac0 .elementor-heading-title {
        font-size: var( --e-global-typography-f29eb5f-font-size);
        line-height: var( --e-global-typography-f29eb5f-line-height);
        letter-spacing: var( --e-global-typography-f29eb5f-letter-spacing);
    }
    .elementor-9707 .elementor-element.elementor-element-5111620 {
        --min-height: 1px;
    }
    .elementor-9707 .elementor-element.elementor-element-9781cdc .elementor-heading-title {
        font-size: var( --e-global-typography-f29eb5f-font-size);
        line-height: var( --e-global-typography-f29eb5f-line-height);
        letter-spacing: var( --e-global-typography-f29eb5f-letter-spacing);
    }
    .elementor-9707 .elementor-element.elementor-element-770db00 {
        font-size: var( --e-global-typography-28b9758-font-size);
    }
}

@media(max-width:767px) {
    .elementor-9707 .elementor-element.elementor-element-f6ec5fc {
        --gap: 40px 40px;
        --row-gap: 40px;
        --column-gap: 40px;
        --padding-top: 40px;
        --padding-bottom: 20px;
        --padding-left: 15px;
        --padding-right: 15px;
    }
    .elementor-9707 .elementor-element.elementor-element-de571ef {
        --gap: 40px 40px;
        --row-gap: 40px;
        --column-gap: 40px;
    }
    .elementor-9707 .elementor-element.elementor-element-44404c9 .elementor-heading-title {
        font-size: var( --e-global-typography-1abd6f6-font-size);
        line-height: var( --e-global-typography-1abd6f6-line-height);
        letter-spacing: var( --e-global-typography-1abd6f6-letter-spacing);
    }
    .elementor-9707 .elementor-element.elementor-element-bf62c77 .elementor-heading-title {
        font-size: 16px;
    }
    .elementor-9707 .elementor-element.elementor-element-bbf8cdf {
        font-size: var( --e-global-typography-28b9758-font-size);
    }
    .elementor-9707 .elementor-element.elementor-element-ed14de3 {
        font-size: var( --e-global-typography-28b9758-font-size);
    }
    .elementor-9707 .elementor-element.elementor-element-352e20d {
        --flex-wrap: nowrap;
        --padding-top: 15px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-9707 .elementor-element.elementor-element-f8b3965 {
        --e-con-grid-template-columns: 1.2fr 0.8fr;
        --gap: 30px 30px;
        --row-gap: 30px;
        --column-gap: 30px;
        --grid-auto-flow: row;
    }
    .elementor-9707 .elementor-element.elementor-element-28f1032 {
        --gap: 10px 10px;
        --row-gap: 10px;
        --column-gap: 10px;
    }
    .elementor-9707 .elementor-element.elementor-element-b05d993 .elementor-heading-title {
        font-size: var( --e-global-typography-f29eb5f-font-size);
        line-height: var( --e-global-typography-f29eb5f-line-height);
        letter-spacing: var( --e-global-typography-f29eb5f-letter-spacing);
    }
    .elementor-9707 .elementor-element.elementor-element-14a9f2c>.elementor-widget-container {
        padding: 5px 0px 0px 0px;
    }
    .elementor-9707 .elementor-element.elementor-element-14a9f2c {
        font-size: var( --e-global-typography-28b9758-font-size);
    }
    .elementor-9707 .elementor-element.elementor-element-921f4b3 {
        font-size: var( --e-global-typography-28b9758-font-size);
    }
    .elementor-9707 .elementor-element.elementor-element-4a2db52 {
        --gap: 15px 15px;
        --row-gap: 15px;
        --column-gap: 15px;
    }
    .elementor-9707 .elementor-element.elementor-element-3fd04df .elementor-heading-title {
        font-size: var( --e-global-typography-f29eb5f-font-size);
        line-height: var( --e-global-typography-f29eb5f-line-height);
        letter-spacing: var( --e-global-typography-f29eb5f-letter-spacing);
    }
    .elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-9707 .elementor-element.elementor-element-38f4033 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-28b9758-font-size);
    }
    .elementor-9707 .elementor-element.elementor-element-4d8074b {
        --gap: 15px 15px;
        --row-gap: 15px;
        --column-gap: 15px;
    }
    .elementor-9707 .elementor-element.elementor-element-4d8074b.e-con {
        --order: 99999/* order end hack */
        ;
    }
    .elementor-9707 .elementor-element.elementor-element-7700427 .elementor-heading-title {
        font-size: var( --e-global-typography-f29eb5f-font-size);
        line-height: var( --e-global-typography-f29eb5f-line-height);
        letter-spacing: var( --e-global-typography-f29eb5f-letter-spacing);
    }
    .elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-9707 .elementor-element.elementor-element-626e68b .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-28b9758-font-size);
    }
    .elementor-9707 .elementor-element.elementor-element-6a7c903 {
        --width: 88%;
        --gap: 15px 15px;
        --row-gap: 15px;
        --column-gap: 15px;
    }
    .elementor-9707 .elementor-element.elementor-element-b30b279 .elementor-heading-title {
        font-size: var( --e-global-typography-f29eb5f-font-size);
        line-height: var( --e-global-typography-f29eb5f-line-height);
        letter-spacing: var( --e-global-typography-f29eb5f-letter-spacing);
    }
    .elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-9707 .elementor-element.elementor-element-b7ca90f .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-28b9758-font-size);
    }
    .elementor-9707 .elementor-element.elementor-element-72c27d2 {
        --gap: 30px 30px;
        --row-gap: 30px;
        --column-gap: 30px;
        --flex-wrap: nowrap;
    }
    .elementor-9707 .elementor-element.elementor-element-177cac0 .elementor-heading-title {
        font-size: var( --e-global-typography-f29eb5f-font-size);
        line-height: var( --e-global-typography-f29eb5f-line-height);
        letter-spacing: var( --e-global-typography-f29eb5f-letter-spacing);
    }
    .elementor-9707 .elementor-element.elementor-element-28c0fab {
        --gap: 30px 30px;
        --row-gap: 30px;
        --column-gap: 30px;
        --flex-wrap: nowrap;
    }
    .elementor-9707 .elementor-element.elementor-element-8ad53b6 img {
        width: 40px;
    }
    .elementor-9707 .elementor-element.elementor-element-d66a847 img {
        width: 40px;
    }
    .elementor-9707 .elementor-element.elementor-element-45558f3 {
        --gap: 30px 30px;
        --row-gap: 30px;
        --column-gap: 30px;
        --flex-wrap: nowrap;
    }
    .elementor-9707 .elementor-element.elementor-element-9781cdc .elementor-heading-title {
        font-size: var( --e-global-typography-f29eb5f-font-size);
        line-height: var( --e-global-typography-f29eb5f-line-height);
        letter-spacing: var( --e-global-typography-f29eb5f-letter-spacing);
    }
    .elementor-9707 .elementor-element.elementor-element-4c7d0a3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(15px/2);
    }
    .elementor-9707 .elementor-element.elementor-element-4c7d0a3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(15px/2);
    }
    .elementor-9707 .elementor-element.elementor-element-4c7d0a3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(15px/2);
        margin-left: calc(15px/2);
    }
    .elementor-9707 .elementor-element.elementor-element-4c7d0a3 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-15px/2);
        margin-left: calc(-15px/2);
    }
    body.rtl .elementor-9707 .elementor-element.elementor-element-4c7d0a3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-15px/2);
    }
    body:not(.rtl) .elementor-9707 .elementor-element.elementor-element-4c7d0a3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-15px/2);
    }
    .elementor-9707 .elementor-element.elementor-element-4c7d0a3 {
        --e-icon-list-icon-size: 18px;
    }
    .elementor-9707 .elementor-element.elementor-element-770db00 {
        font-size: var( --e-global-typography-28b9758-font-size);
    }
}

@media(min-width:768px) {
    .elementor-9707 .elementor-element.elementor-element-de571ef {
        --width: 25%;
    }
    .elementor-9707 .elementor-element.elementor-element-3d266df {
        --width: 75%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-9707 .elementor-element.elementor-element-de571ef {
        --width: 100%;
    }
    .elementor-9707 .elementor-element.elementor-element-fa03dea {
        --width: 45%;
    }
    .elementor-9707 .elementor-element.elementor-element-a4c48b4 {
        --width: 45%;
    }
    .elementor-9707 .elementor-element.elementor-element-3d266df {
        --width: 100%;
    }
}

/* Start custom CSS for text-editor, class: .elementor-element-921f4b3 */

.elementor-9707 .elementor-element.elementor-element-921f4b3 a {
    font-size: 14px;
}

/* End custom CSS */

/* Start custom CSS for icon-list, class: .elementor-element-38f4033 */

.elementor-9707 .elementor-element.elementor-element-38f4033 a {
    cursor: pointer;
}

/* End custom CSS */

/* Start custom CSS for icon-list, class: .elementor-element-626e68b */

.elementor-9707 .elementor-element.elementor-element-626e68b a {
    cursor: pointer;
}

/* End custom CSS */

/* Start custom CSS for icon-list, class: .elementor-element-b7ca90f */

.elementor-9707 .elementor-element.elementor-element-b7ca90f a {
    cursor: pointer;
}

/* End custom CSS */

/* Start custom CSS for container, class: .elementor-element-ec59128 */

.elementor-9707 .elementor-element.elementor-element-ec59128 {
    background: linear-gradient(90deg, #E5BA5D 5.39%, #FFFFD0 23.47%, #E2B854 37.62%, #F4C96C 51.77%, #D09F26 65.91%, #C2973B 83.99%);
    opacity: 0.5;
}

/* End custom CSS */

/* Start custom CSS for container, class: .elementor-element-5111620 */

.elementor-9707 .elementor-element.elementor-element-5111620 {
    background: linear-gradient(90deg, #E5BA5D 5.39%, #FFFFD0 23.47%, #E2B854 37.62%, #F4C96C 51.77%, #D09F26 65.91%, #C2973B 83.99%);
    opacity: 0.5;
}

/* End custom CSS */

/* Start custom CSS for container, class: .elementor-element-50e701a */

.elementor-9707 .elementor-element.elementor-element-50e701a {
    background: linear-gradient(90deg, #E5BA5D 5.39%, #FFFFD0 23.47%, #E2B854 37.62%, #F4C96C 51.77%, #D09F26 65.91%, #C2973B 83.99%);
    opacity: 0.5;
}

/* End custom CSS */

/* Start custom CSS for text-editor, class: .elementor-element-770db00 */

.elementor-9707 .elementor-element.elementor-element-770db00 a {
    font-size: 14px;
}

/* End custom CSS */

/* Start Custom Fonts CSS */

@font-face {
    font-family: 'Sentient';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('https://muliya.in/wp-content/uploads/2025/04/Sentient-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Sentient';
    font-style: normal;
    font-weight: 500;
    font-display: auto;
    src: url('https://muliya.in/wp-content/uploads/2025/04/Sentient-Medium.woff') format('woff');
}

/* End Custom Fonts CSS */