.elementor-11346 .elementor-element.elementor-element-84fc6ac {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --align-items: flex-start;
    --border-radius: 32px 32px 32px 32px;
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 30px;
    --padding-right: 30px;
}

.elementor-11346 .elementor-element.elementor-element-84fc6ac:not(.elementor-motion-effects-element-type-background),
.elementor-11346 .elementor-element.elementor-element-84fc6ac>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-secondary);
}

.elementor-11346 .elementor-element.elementor-element-b6d791e>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-11346 .elementor-element.elementor-element-b6d791e .elementor-heading-title {
    font-size: 32px;
    color: var( --e-global-color-text);
}

.elementor-11346 .elementor-element.elementor-element-7514f09 {
    width: 100%;
    max-width: 100%;
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-11346 .elementor-element.elementor-element-7514f09>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-11346 .elementor-element.elementor-element-7514f09 .elementor-field-group {
    padding-right: calc( 10px/2);
    padding-left: calc( 10px/2);
    margin-bottom: 20px;
}

.elementor-11346 .elementor-element.elementor-element-7514f09 .elementor-form-fields-wrapper {
    margin-left: calc( -10px/2);
    margin-right: calc( -10px/2);
    margin-bottom: -20px;
}

.elementor-11346 .elementor-element.elementor-element-7514f09 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-11346 .elementor-element.elementor-element-7514f09 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-11346 .elementor-element.elementor-element-7514f09 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 8px;
}

body:not(.rtl) .elementor-11346 .elementor-element.elementor-element-7514f09 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 8px;
}

body .elementor-11346 .elementor-element.elementor-element-7514f09 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 8px;
}

.elementor-11346 .elementor-element.elementor-element-7514f09 .elementor-field-group>label {
    font-size: 15px;
}

.elementor-11346 .elementor-element.elementor-element-7514f09 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-11346 .elementor-element.elementor-element-7514f09 .elementor-field-group .elementor-field,
.elementor-11346 .elementor-element.elementor-element-7514f09 .elementor-field-subgroup label {
    font-size: 14px;
}

.elementor-11346 .elementor-element.elementor-element-7514f09 .elementor-field-group .elementor-field:not(.elementor-select-wrapper) {
    background-color: #FFFFFF;
    border-width: 0px 0px 0px 0px;
}

.elementor-11346 .elementor-element.elementor-element-7514f09 .elementor-field-group .elementor-select-wrapper select {
    background-color: #FFFFFF;
    border-width: 0px 0px 0px 0px;
}

.elementor-11346 .elementor-element.elementor-element-7514f09 .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-11346 .elementor-element.elementor-element-7514f09 .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-11346 .elementor-element.elementor-element-7514f09 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-11346 .elementor-element.elementor-element-7514f09 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-11346 .elementor-element.elementor-element-7514f09 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-11346 .elementor-element.elementor-element-7514f09 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-11346 .elementor-element.elementor-element-7514f09 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-11346 .elementor-element.elementor-element-7514f09 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-11346 .elementor-element.elementor-element-7514f09 .elementor-message.elementor-message-success {
    color: #15FF00;
}

.elementor-11346 .elementor-element.elementor-element-7514f09 .elementor-message.elementor-message-danger {
    color: #FF3131;
}

.elementor-11346 .elementor-element.elementor-element-d68c3be {
    width: var( --container-widget-width, 500px);
    max-width: 500px;
    --container-widget-width: 500px;
    --container-widget-flex-grow: 0;
    font-size: 15px;
    color: #FF0030;
}

.elementor-11346 .elementor-element.elementor-element-d68c3be p {
    margin-bottom: 0px;
}

#elementor-popup-modal-11346 .dialog-widget-content {
    background-color: #02010100;
    border-radius: 32px 32px 32px 32px;
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

#elementor-popup-modal-11346 {
    background-color: rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
    pointer-events: all;
}

#elementor-popup-modal-11346 .dialog-message {
    width: 640px;
    height: auto;
}

#elementor-popup-modal-11346 .dialog-close-button {
    display: flex;
    top: 30px;
    font-size: 20px;
}

body:not(.rtl) #elementor-popup-modal-11346 .dialog-close-button {
    right: 30px;
}

body.rtl #elementor-popup-modal-11346 .dialog-close-button {
    left: 30px;
}

#elementor-popup-modal-11346 .dialog-close-button i {
    color: #7C7C7C;
}

#elementor-popup-modal-11346 .dialog-close-button svg {
    fill: #7C7C7C;
}

#elementor-popup-modal-11346 .dialog-close-button:hover i {
    color: #000000;
}

@media(max-width:767px) {
    .elementor-11346 .elementor-element.elementor-element-84fc6ac {
        --padding-top: 50px;
        --padding-bottom: 50px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-11346 .elementor-element.elementor-element-b6d791e .elementor-heading-title {
        font-size: 26px;
    }
    .elementor-11346 .elementor-element.elementor-element-d68c3be {
        font-size: 14px;
    }
    #elementor-popup-modal-11346 .dialog-close-button {
        top: 25px;
        font-size: 20px;
    }
    body:not(.rtl) #elementor-popup-modal-11346 .dialog-close-button {
        right: 20px;
    }
    body.rtl #elementor-popup-modal-11346 .dialog-close-button {
        left: 20px;
    }
    #elementor-popup-modal-11346 .dialog-message {
        padding: 0px 10px 0px 10px;
    }
}